@charset "utf-8";
/* CSS Document */
body {
	background-color:#FECF33;
}
.navbar {
	background-color:#000;
}
.navbar-brand, .nav >li >a {
	color:#ED1C24 !important;
}
#home {
	padding-top: 50px;
}
#menu, #contact {
	padding-top: 50px;
	margin-top:-50px;
}
.jumbotron {
	background-color:#000;
	color:#ED1C24;
	padding:0;
}
.logo > img {
	width:100%;
	max-width:360px;
	padding:10px 10px 60px 10px;
}